html {
  font-size: 16px !important;
}

body {
  padding: 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Georgia", sans-serif;
  font-size: 1rem;
  line-height: 1.62rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-font {
  font-family: "Arial";
}

.secondary-font {
  font-family: "Georgia";
}

.bold {
  font-weight: 700;
}

.display-none {
  display: none;
}

.display-center {
  text-align: center;
}

.primary {
  background-color: #3a66d5;
}

.secondary {
  background-color: #01a198;
}

.primary-color {
  color: #3a66d5;
}

.secondary-color {
  color: #01a198;
}

h1 {
  font-size: 3.25rem;
  line-height: 3.5rem;
}

h1.heading {
  font-size: 2.56rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3,
h4 {
  font-size: 1.62rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1.06rem;
  line-height: 1.5rem;
}

.imageCaption {
  font-size: 0.87rem;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  h1.heading {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.37rem;
    line-height: 1.5rem;
  }

  h4 {
    font-size: 1.18rem;
    line-height: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 0.87rem;
    line-height: 1.5rem;
  }
}
p {
  font-size: 1rem;
}

p.small {
  font-size: 0.93rem;
  line-height: 1.62rem;
}

p.tiny {
  font-size: 0.75rem;
  line-height: 1.18rem;
}

a {
  font-size: 1rem;
  line-height: 1.62rem;
}

a.small {
  font-size: 0.93rem;
  line-height: 1.62rem;
}

a.tiny {
  font-size: 0.75rem;
  line-height: 1.18rem;
}

.code-button {
  padding: 5px;
  width: 202px;
  height: 48px;
  /* Base-White */
  background: #ffffff;
  color: #3a66d5;
  /* UI Grays/UI-Dark-Gray */
  border: 1px dashed;
  border-color: #191919;
  border-radius: 4px;
}
.code-button ul {
  width: 100%;
  list-style: none;
  display: flex;
}
.code-button ul li {
  width: 50%;
  padding: 5px;
}
.code-button ul li p {
  width: 100%;
}

.tiny-button {
  border: none;
  padding: 4px 16px;
  width: 60px;
  height: 27px;
  border-radius: 4px;
  color: #ffffff;
}

.play-button {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  color: #ffffff;
}

.sm-button {
  border: none;
  padding: 4px 40px;
  width: 182px;
  height: 30px;
  border-radius: 4px;
  color: #ffffff;
}

.sm-button-ol {
  border: 1px solid;
  border-color: #3a66d5;
  padding: 4px 40px;
  width: 182px;
  height: 30px;
  border-radius: 4px;
  color: #3a66d5;
}

.md-button {
  border: none;
  padding: 10px 40px;
  width: 202px;
  height: 48px;
  border-radius: 4px;
  color: #ffffff;
}

.md-button-ol {
  border: 1px solid;
  border-color: #3a66d5;
  padding: 10px 40px;
  width: 202px;
  height: 48px;
  border-radius: 4px;
  color: #3a66d5;
}

.lg-button {
  border: none;
  padding: 10px 20px;
  width: 162px;
  height: 62px;
  border-radius: 4px;
  color: #ffffff;
}

.lg-button-ol {
  border: 1px solid;
  border-color: #3a66d5;
  padding: 10px 20px;
  width: 162px;
  height: 62px;
  border-radius: 4px;
  color: #3a66d5;
}

.spacer-xs {
  height: 8px;
}

.spacer-sm {
  height: 16px;
}

.spacer-md {
  height: 24px;
}

.spacer-lg {
  height: 32px;
}

.spacer-xl {
  height: 40px;
}

.spacer-xxl {
  height: 64px;
}

.toplist-panel-h {
  padding: 0px;
  min-height: 363px;
  border: 1px solid;
  border-color: #dadada;
  border-radius: 10px;
  overflow: hidden;
}

.toplist-panel {
  padding: 30px;
  width: 100%;
  background: #ffffff;
}

.toplist-panel-legal {
  border-top: 1px solid;
  border-width: 1px;
  border-color: #dadada;
  padding: 20px;
  /* UI Grays/UI-Shade-Gray */
  background: #fafafa;
}

.badge {
  width: 150px;
  height: 175px;
  align-items: center;
}

.elipse {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 10000px;
  /* Base-White */
  /* Primary-Color */
  border: 6px solid;
  border-color: #3a66d5;
}

.image-container {
  margin-top: 7.69px;
  width: 134.62px;
  height: 134.62px;
  border-radius: 10000px;
}

.badgeIcon {
  margin-top: 117.31px;
  position: absolute;
}

.rating {
  margin-right: 9.38px;
}

.pointsList ul {
  text-align: left;
  font-family: "Georgia";
  font-size: 0.75rem;
  line-height: 1.18rem;
}
.pointsList li {
  margin-top: 8px;
}

/*# sourceMappingURL=main.css.map */
